<h1>{{ 'Node updates from mercure'|t }}</h1>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>{{ 'New nodes created'|t }}</h2>
    <ul class="reactive-content-new-nodes"></ul>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>{{ 'Deleted nodes created'|t }}</h2>
    <ul class="reactive-content-deleted-nodes"></ul>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h2>{{ 'Updated nodes created'|t }}</h2>
    <ul class="reactive-content-updated-nodes"></ul>
  </div>
</div>
